*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/gradle
/gradlew
/gradlew.bat
/.gradle
/view-pager-transformer/src/test
/view-pager-transformer/src/androidTest
